div#user-nav ul li i {
    color: white !important;
    padding-right: 5px;
}
span#basic-addon2 {
    width: 38px;
}
body .p-b-30 {
    padding-bottom: 30px;
}
body .p-t-20 {
    padding-top: 20px;
}
body .p-b-20 {
    padding-bottom: 20px;
}
body .m-t-20 {
    margin-top: 20px;
}
input.form-control.form-control-lg:focus {box-shadow: none !important;}
div#user-nav ul li a.dropdown-toggle {
    color: white;
}
.label-required:before {
    content: "*";
    color: red;
}
label {
    font-weight: 500;
    font-size: 15px;
}
.alert.alert-success {
    margin: 5px 0;
    padding: 10px;
}
div#content {
    padding-top: 15px;
}
main.py-4.bg-dark .main-wrapper {
    border-top: 1px solid white;
    border-bottom: 1px solid #ffffff;
}
span#basic-addon1 {
    width: 42px;
}
span#basic-addon2 {
    width: 42px;
}
a.btn.btn-success.btn-sm {
    margin-left: 2px;
}
